.SearchIcon
{
    color:#fff;
   
}
.SearchButton
{
    background-color:#ED1C24;
    border-radius:1px;
    margin-top: -4px
}
.SearchButton:hover{
    background-color:#C4161C;
}

.SearchBar{
 border: 1px;
}
